@using Broadway._630.Web.ViewModel
@{
    ViewBag.Title = "Home Page";

}

<div class="alert alert-success" role="alert">
    <a href="#" class="alert-link">...</a>
</div>
<div class="alert alert-info" role="alert">
    <a href="#" class="alert-link">...</a>
</div>
<div class="alert alert-warning" role="alert">
    <a href="#" class="alert-link">...</a>
</div>
<div class="alert alert-danger" role="alert">
    <a href="#" class="alert-link">...</a>
</div>

<div class="row">
    <div class="col-3">
        @Html.Partial("~/Views/Shared/_PartialCard.cshtml", new PartialCardViewModel { Title = "Ashish", Body = "My name is Ashish" })
    </div>
    <div class="col-3">
        @Html.Partial("~/Views/Shared/_PartialCard.cshtml", new PartialCardViewModel { Title = "Niroj", Body = "My name is Niroj" })
    </div>
    <div class="col-3">
        @Html.Partial("~/Views/Shared/_PartialCard.cshtml", new PartialCardViewModel { Title = "Pallabi", Body = "My name is Pallabi" })
    </div>
    <div class="col-3">

        @Html.Partial("~/Views/Shared/_PartialCard.cshtml", new PartialCardViewModel { Title = "Chandan", Body = "My name is Chandan" })
    </div>
</div>

@section headerTitle
{
    Home Index
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            //alert("index page loaded");
        });
    </script>
}