@using Broadway._630.Web.ViewModel
@model  List<NameOfControllers>
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var data = RandomPostGenerator.Generate();
}

@foreach (var item in Model)
{
    <div class="col-6">
        @item.Name => @item.isAuthorised
    </div>
}

<div class="row">
    <div class="col-6">
        @Html.Partial("~/Views/PartialComponents/_Post.cshtml", data)
    </div>
</div>