@using Broadway._630.Web.ViewModel
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var data = RandomPostGenerator.Generate();
}

<div class="row">
    <div class="col-6">
        @Html.Partial("~/Views/PartialComponents/_Post.cshtml", data)
    </div>
</div>